.ticket-wrapper {
    table {
        background: rgba(255, 255, 255, 1);
        thead {
            p {
                font-weight: 900;
            }
        }
        tr {
            td {
                vertical-align: middle;
            }
            td:last-child {
                white-space: nowrap;
            }
            td:first-child {
                white-space: nowrap;
            }
            p {
                position: relative;
                top: 5px;
            }
            a {
                margin-top: 5px;
            }
        }
    }
    .ticket-total {
        float: right;
        margin-right: 5px;
    }
    .ticket-reservate {
        float: right;
        margin-right: 5px;
    }
    
    .background-green {
        background: rgba(0,255,0,.5);
    }
    .background-red {
        background: rgba(255,0,0,.5);
    }
    .background-yellow {
        background: rgba(255,255,0,.5);
    }
}