<div class="container ticket-wrapper">
    <table class="table table-condensed">
        <thead>
            <td>
                <h3>
                    {{ messages.itemName }}
                </h3>
            </td>
            <td>
                <h3>
                    {{ messages.itemDescription }}
                </h3>
            </td>
            <td>
                <h3>
                    {{ messages.itemPrice }}
                </h3>
            </td>
            <td>
            </td>
        </thead>
        <tr ng-repeat="item in items">
            <td>
                <p>
                    {{ item.name | capitalize }}
                </p>
            </td>
            <td>
                <p ng-bind-html="item.description"></p>
            </td>
            <td>
                <p>
                    {{ item.price | currency:"DKK " }}
                </p>
            </td>
            <td>
                <input ng-model="item.amount" type="number" min="0" class="form-control" ng-init="item.amount=0" ng-change="sum()" />
            </td>
        </tr>
    </table>

    <h3 class="ticket-total">
        Total: {{ total | currency:"DKK " }}
    </h3>

    <div class="clearfix"></div>

    <a class="btn btn-info ticket-reservate" ng-click="makeReservation()">{{ messages.reserve }}</a>

    <div class="clearfix"></div>
    <br/>

    <p class="alert alert-success" ng-hide="message === ''">
        {{ message }}
    </p>
    <p class="alert alert-danger" ng-hide="error === ''">
        {{ error }}
    </p>
</div>
