<div class="sponsor-wrapper">
    <div id="sponsor-osterskovEfterskole" class="sponsor-content">
        <div class="sponsor-top sponsor-background">
            <div class="sponsor-logo">
                <img src="/assets/images/sponsorOsterskovEfterskole.png" />
            </div>
            <div class="sponsor-name">
                <span>Østerskov</span>
                <span>Efterskole</span>
            </div>
        </div>
        <div class="sponsor-social sponsor-background">
            <a href="http://osterskov.dk/" target="_blank" class="sponsor-icon sponsor-explorer"></a>
            <a href="https://www.facebook.com/osterskov" target="_blank" class="sponsor-icon sponsor-facebook"></a>
        </div>
    </div>
    
    <div class="clearfix"></div>
    
    <div id="sponsor-liveAdventure" class="sponsor-content">
        <div class="sponsor-top sponsor-background">
            <div class="sponsor-logo">
                <img src="/assets/images/sponsorLiveAdventure.png" />
            </div>
            <div class="sponsor-name">
                <span>Live Adventure</span>
            </div>
        </div>
        <div class="sponsor-social sponsor-background">
            <a href="http://live-adventure.de/" target="_blank" class="sponsor-icon sponsor-explorer"></a>
            <a href="https://www.facebook.com/pages/Live-Adventure/239727332183" target="_blank" class="sponsor-icon sponsor-facebook"></a>
            <a href="https://twitter.com/liveadventure" target="_blank" class="sponsor-icon sponsor-twitter"></a>
            <a href="https://www.youtube.com/user/ConQuestOfMythodea" target="_blank" class="sponsor-icon sponsor-youtube"></a>
        </div>
    </div>
</div>