<div class="container print">
    <a href="/account/{{ user._id }}">{{ messages.accountReturn }}</a>
    <h3><a ng-click="print()">{{ messages.billPrint }}</a></h3>
</div>

<div id="printSection">
    <div class="print-header">
        <h2>
            {{ messages.billConfirmation }}
        </h2>
    </div>

    <div class="print-info-left">
        <span class="print-left">{{ user.name }}</span>
        <br>
        <span class="print-left">{{ user.email }}</span>
    </div>

    <div class="print-info-right">
        <p>
            {{ messages.billAdditions }}:
        </p>

        <span class="print-left">{{ messages.billBookingNr }}.:</span>
        <span class="print-right">{{ bill.payGroup }}</span>

        <div class="clearfix"></div>

        <p>
            {{ messages.billPaymentTo }}:
        </p>

        <span class="print-left">{{ messages.billAccountNr }}.:</span>
        <span class="print-right">9212 - 0760379794</span>

        <div class="clearfix"></div>

        <span class="print-left">Bank:</span>
        <span class="print-right">Sparekassen Vendsyssel</span>

        <div class="clearfix"></div>

        <span class="print-left">{{ messages.billAccountOwner }}:</span>
        <span class="print-right">Østerskov Efterskole</span>

        <div class="clearfix"></div>

        <span class="print-left">{{ messages.billDueDate }}:</span>
        <span class="print-right">{{ bill.payDate}}</span>
    </div>

    <div class="clearfix"></div>

    <div class="print-bill">
        <h3>
                {{ messages.bill }}
            </h3>
        <table class="table table-condensed">
            <thead>
                <td>
                    <span>
                            {{ messages.itemName }}
                        </span>
                </td>
                <td>
                    <span>
                            {{ messages.itemDescription }}
                        </span>
                </td>
                <td>
                    <span>
                            {{ messages.itemPrice }}
                        </span>
                </td>
            </thead>
            <tr ng-repeat="item in bill.items">
                <td>
                    <span>
                            {{ item.information.title | capitalize }}
                        </span>
                </td>
                <td>
                    <span ng-bind-html="item.information.description"></span>
                </td>
                <td>
                    <span>
                            {{ item.price | currency:"DKK " }}
                        </span>
                </td>
            </tr>
        </table>
        <span class="print-right">
            {{ messages.billTotal }}: {{ bill.total | currency:"DKK " }}
        </span>
    </div>

    <div class="print-contact">
        <p>
            Lunorth Event | <i class="fa fa-envelope"></i> contact.lunorth@gmail.com
        </p>
    </div>
</div>